[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langsmith = "*"
langchain = "*"
langchain-ollama = "*"
duckduckgo-search = "*"
langchain-community = "*"
google-auth = "*"
docling = "*"
langchain-nomic = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
