[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
google-api-core = "*"
google-cloud-core = "*"
pydantic-graph = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
